* {
    margin:0;
    padding:0;
    box-sizing:padding-box;
}
body {
    height:1000px;
}
.section1 {
    background-image: url(../images/imm.jpg);
    height: 100vh;
    width: 100%;
   background-size:cover;
   
}


.header {
    width:100%;
    height:60px;
    background-color: #f2e5dc;
    overflow:auto;
    position:fixed;
    top:0;
    left:0;
    opacity:0.8;
    z-index:20;
    overflow:auto;

}
.logo {
    height:60px;
    float:left;
    margin-left:40px;
    

}
.list1 {
    list-style-type:none;
    float:right;
    margin-top:20px;
}
.list2 {
    list-style-type: none;
    float: right;
    margin-top: 20px;
}
    .list1 li {
        display:inline-block;
    }
    .list2 li {
        display: inline-block;
    }
        .list1 li a {
            text-decoration:none;
            color:#6d5353;
            font-family:'Times New Roman', Times, serif;
           
            margin-right:70px;
           
            
        }
.list2 li a {
    text-decoration: none;
    color: #6d5353;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40px;
    
}
 .list2 .list2-a1 {
    margin-left:250px;
}

.list2 li a:hover {

}

.header-lin1 {
    width: 40px;
    height: 4px;
    border-radius: 3px;
    margin-top:-1px;
    margin-left: 298px;
    background-color: #ab7c73;
    float: left;
}
/*.header-lin2 {
    width: 35px;
    height: 4px;
    border-radius: 3px;
    margin-top: -1px;
    margin-left:70px;
    float: left;
}
.header-lin3 {
    width: 40px;
    height: 4px;
    border-radius: 3px;
    margin-top: -1px;
    margin-left:68px;
    float: left;
}
.header-lin4 {
    width: 55px;
    height: 4px;
    border-radius: 3px;
    margin-top: -1px;
    margin-left:75px;
    float: left;
}
.h-line {
    position: relative;
    background-color: #ab7c73;
}
    .h-line::after {
        height: 100%;
        width: 0;
        left: 0;
        content: "";
        position: absolute;
        transition: 1s;
        background-color: #ab7c73;
        opacity:1;
    }

.h-lin:hover::after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.header-line-left {
    width: 300px;
    margin-left: -100px;
}*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/* section1*/
.section1-routine {
    position: absolute;
    background-color: #f2e5dc;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    transition: 1s;
    opacity:0;
}
.section1-routine-title1 {
    font-family:'Times New Roman', Times, serif;
    text-transform:capitalize;
    font-size:50px;
    padding-top:10px;
    padding-bottom:15px;
}
.section1-routine-p1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size:small;
    letter-spacing:3px;
    padding-bottom:25px;
    
}
.section1-btn {
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:none;
    border-radius:5px;
   
    margin-right:12px;
    font-size:19px;
    padding:10px;
}
.bb {
    color: white;
    background-color: #ab7c73;
}
.section1:hover .section1-routine {
    visibility: visible;
    opacity:1;
}
.section1-btn:hover {
    background-color: rgba(0,0,0,0.4);
    
}
.section1-overly {
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.2);
    position:absolute;
    top:0;
}
.section1{
    position:relative;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*section2*/
.sec2-icon {
    color: #ab7c73;
    font-size: 30px;
    padding-bottom: 10px;
}
.container-of-section2 {
    width: 95%;
    height: 70vh;
    margin: auto;
}
.section2 {
    overflow:auto;
    padding:5%;

}
.section2-item {
    float: left;
    border: solid #ab7c73 2px;
    
    width: 25%;
    text-align: center;
    padding: 25px;
    margin-top: 70px;
    position:relative;
}
.sec2-bt2 {
    margin: 0 5%;
    margin-top: 70px;
}
.section2-title1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.section2-line1 {
    width: 95px;
    height: 5px;
    background-color: #ab7c73;
    margin-top: 10px;
    border-radius: 6px;
    margin: auto;
}
.section2-link {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #6d5353;
    text-transform: capitalize;
}
.section2-p1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.section2-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-transform: capitalize;
}
.section2-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #ab7c73;
    opacity:0.5;
    transition:0.5s;
    z-index:-1;

}
.section2-item:hover::after {
    width:100%;
    height:100%;
    opacity:1;
}
.section2-item:hover .section2-title {
    color:#e9d4c6;
}
.section2-item:hover .section2-p1 {
    color: #fff;
}
.section2-item:hover .section2-link {
    color: #e9d4c6;
}
.section2-item:hover .sec2-icon {
    color: #fff;
}
/*////////////////////////////////////////////////////////////////////////////////////*/
                       /*section3*/
.section3 {
    overflow: auto;
    background-color: #f2e5dc;
    padding:5%;
}
.sec3-icon1 {
    color: #673c34;
    font-size:30px;
    padding-top:5px;
    padding-right:10px;
}
.sec3-icon2 {
    color:#fff;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 10px;
}
    .sec3-icon2:hover {
        color:#cf0101;
    }
    .section3-item {
        width: 20%;
        height: 30%;
        float: left;
        margin: 2% 2%;
        border-radius: 6px;
        position: relative;
    }
.section3-item-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    position:absolute;
    
}
.sec3-item {
    margin-right:5%;
}
.sec3-item1 {
    margin-top:5%;
}
.section3-overly {
    
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,0);
    /*padding: 10px;*/
    line-height: 30px;
    border-radius: 6px;
    transition: 0.7s;
}

.section3-item:hover .section3-overly {
    visibility: visible;
    background-color: rgba(0,0,0,0.2);
    transition: 0;
}
.section3-info {
    margin-top:40%;
}
.section3-title2 {
    color: #673c34;
    font-family: 'Times New Roman', Times, serif;
}
.section3-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
                                       /*section4*/
.section4-container {
    width:70%;
    margin:auto;
    height:110vh;
}
.section4 {
    width: 100%;
    overflow: auto;
}
.section4-item {
    width: 25%;
    float: left;
    margin: 10px 30px 15px 0;
    position: relative;
    border: solid #ab7c73 2px;
}
.sec4-item-title {
    padding: 20px 15px 12px 55px;
    font-family: 'Times New Roman', Times, serif;
}
.sec4-item-p1 {
    padding: 0 15px 30px 55px;
    line-height: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.sec4-icon {
    color: #ab7c73;
    position:absolute;
    top: 25px;
    left: 15px;
    font-size: 25px;
}
.sec4-item2 {
    margin-left:9%;
}
.section4-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background-color: #ab7c73;
    opacity: 0.5;
    transition: 0.5s;
    z-index: -1;
}

.section4-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.section4-item:hover .sec4-item-title {
    color: #e9d4c6;
}
.section4-item:hover .sec4-icon {
    color: #fff;
}
.section4-item:hover .sec4-item-p1 {
    color: #fff;
}
/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*section5*/
.sec5-icon {
    color: #ab7c73;
    padding-right: 15px;
}
.section5 {
    width: 100%;
    height: 100vh;
}
.section5-info {
    float:left;
    width:45%;
    margin-left:5%;
    height:100vh;
}
.section5-desgin {
    float: left;
    width: 45%;
    margin-right: 5%;
    height: 100vh;
    position:relative;
}
.section5-img {
    width: 50%;
    height: 65%;
    position: absolute;
    top: 15%;
    left: 30%;
    transition: 1s;
}
.section5-desgin-em1 {
    width: 30%;
    height: 80%;
    background-color: #ab7c73;
     position:absolute;
    top: 10%;
    left:70%;
}
.section5-list {
    width: 100px;
    position: absolute;
    overflow:auto;
    top:82%;
    left:50%;
}
.section5-list1 {
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 50%;
    margin-left: 5px;
    border: solid 2px #ab7c73;
}
    .section5-list1:hover {
        background-color: #ab7c73;
    }
.sec5-li1 {
    background-color: #ab7c73;
}
.section5-img:hover {
    left: 50%;
    
}
.section5-info-title1 {
    padding-top: 10%;
    text-transform: capitalize
}
.section5-info-p1 {
    padding-bottom: 20px;
    padding-top: 30px;
    text-transform: capitalize;
    color: #a17e78;
}
.section5-info-span {
    line-height: 40px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
.section5-line1 {
    width: 80px;
    height: 5px;
    background-color: #ab7c73;
    margin-top: 10px;
    border-radius: 6px;
    margin-top:5px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
                                       /*section6*/
.section6 {
     background-image: url(../images/imm.jpg); 
     background-attachment: fixed;
     background-repeat: no-repeat;
     width: 100%;
     height: 50vh;
    background-size:cover;
}
.sec6-icon {
    color:#fff;
    padding-bottom:20px;
    font-size:30px;
} 
.section6-overly {
    width: 100%;
    height: 50vh;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    overflow: auto;
}
.section6-item {
    width: 20%;
    float: left;
    margin-top:9%;
    text-align: center;
    margin-left: 5%
}
.section6-title1 {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.section6-p1 {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
/*////////////////////////////////////////////////////////////////////////////////////*/
                                     /*section7*/
.container-section7 {
    width:70%;
    margin:auto;
   
    height:100vh;
}
.section7 {
    width: 100%;
    overflow: auto;
    height: 100vh;
}
.section7-item {
    width: 29.5%;
    height: 55%;
    float: left;
    margin-top: 5%;
    text-align: center;
    border: solid 2px #ab7c73;
    position:relative;
}
.section7-item2 {
    margin-left: 5%;
     margin-right: 5%;
}
.section7-item-part1 {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: solid 2px #ab7c73;
    margin-bottom:9px;
}
.section7-title2 {
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.section7-titlle1 {
    padding: 22px 0;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.section7-p2 {
    padding: 7px 0;
    font-family: 'Times New Roman', Times, serif;
}
.section7-btn {
    margin-top: 20px;
    border: solid 2px #ab7c73;
    padding:4px 20px;
}
.section7-p1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.section7-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #f2e5dc;
    opacity: 1;
    transition: 0.5s;
    z-index: -1;
}

.section7-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.sec7-title {
    margin-top:80px;
}
.sec7-line1 {
    margin-bottom:20px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
                                         /*section8*/
.section8 {
    width:100%;
    height:50vh;
    overflow:auto;
    background-image:url(../images/imm.jpg);
    background-attachment:fixed;
    background-size:cover;
    position:relative;
}
.section8-item {
    width:40%;
    height:50vh;
    float:left;
    margin-left:7.5%;
    
}
.section8-item-model {
    height:70%;
    width:100%;
    overflow:auto;
    
}
.section8-item-img {
    float: left;
    background-image: url(../images/sec8-2.jpg);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-top: 120px;
    margin-left: 100px;
    border-radius: 50%;
    outline: solid 4px #ab7c73;
    outline-offset:3px;
}
.sec8-img2 {
    background-image: url(../images/sec8-1.jpg);
}
.section8-item-desc {
    float: left;
    width: 40%;
    height: 30%;
    margin-top: 140px;
    margin-left: 14px;
    
}
.sec8-item-name {
    padding-bottom: 7px;
    color: #d7bdab;
    font-family: 'Times New Roman', Times, serif;
}
.sec8-item-p2 {
    margin-left: 100px;
    padding-top: 3px;
    color: #fff;
    text-transform: capitalize;
    line-height: 23px;
    font-family: 'Times New Roman', Times, serif;
}
.section8-overly {
    width: 100%;
    height: 50vh;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    overflow: auto;
}
.sec3-p1 {
    color: #fff;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
                                                   /*section9*/
.container-section9{
    width:80%;
    margin:auto;
    height:100vh;
}
.section9 {
    width: 100%;
    overflow: auto;
    height: 100vh;
}
.section9-item {
    width: 25.5%;
    background-color: #f2e5dc;
    float: left;
    border-radius: 10px;
    padding: 14px 19px;
    text-align: center;
    outline: solid 3px #ab7c73;
    outline-offset: 10px;
    margin-top: 50px;
    position:relative;
    
}
.section9-img-image1 {
    border-radius: 10px;
}
.sec9-med-item {
    margin: 0px 5%;
    margin-top: 50px;
    
}
.section9-item-img {
    border-radius: 10px;
    position:relative;

}
    .section9-item-img img {
        width:100%;
    }
.sec9-fitem {
    margin-left:15px;
}
.section9-item-img-overly {
    visibility:hidden;
    top:0;
    background-color: rgba(0,0,0,0);
    position:absolute;
    transition:0.5s;
    width:100%;
    height:100%
}
.section9-item:hover .section9-item-img .section9-item-img-overly {
    visibility: visible;
    background-color: rgba(0,0,0,0.2);
}
.sec9-info-p1 {
    padding: 10px 0px;
    font-family: 'Times New Roman', Times, serif;
}
.sec9-info-title1 {
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.section9-item-img-overly .sec9-icon {
    display: block;
    line-height: 30px;
    margin-left: 200px;
    font-size: 20px;
    color: #f2e5dc;
}
a {
    text-decoration:none;
}
.section9-item::after {
    visibility:hidden;
    content:"";
    width:100%;
    height:0;
    position:absolute;
    top:0;
    background-color: rgba(0,0,0,0.1);
    transition:0.5s;
    left:0;
}
.section9-item:hover::after {
    visibility:visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    
}
.section9-item::before {
    visibility: hidden;
    content: "";
    width: 100%;
    height:0;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    transition: 0.5s;
    left: 0;
}
.section9-item:hover::before {
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
/*////////////////////////////////////////////////////////////////////////////////////////////*/
                                             /*section11*/
.section11 {
    width: 100%;
    height: 40vh;
    background-color: #ab7c73;
    text-align:center;
}
.section11-img{
height:100px;
width:170px;
margin-left:50%;
transform:translate(-50%,30%);

}
.sec11-icon {
    margin:75px 15px 15px 15px;
    font-size:20px;
}
.sec11-p {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.sec11-link {
    color: #673c34;
}
    .sec11-link:hover {
        color: #f2e5dc;
    }